.product-item.__name{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    color: #2c3e50;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
