<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center ">
    <div class="thumbnail equalheight" style="height: 133px;">
        <a class="subCategoryThumb" href="{{group.url}}">
            <img src="{{group.thumbUrl}}" class="img-rounded " alt="img">
        </a>
        <a class="subCategoryTitle" href={{group.url}}>
            <span>{{group.name}}</span>
        </a>
    </div>
</div>
