<div class="container">
    <h1>Группа {{group.name}}</h1>

    <div class="row">
        {{#each group.products}}
            <div class="product-item _border-thin col-sm-3 col-lg-3 col-md-3 col-xs-6">

                <div class="image">
                    <a href="{{url}}">
                        <img class="img-responsive" alt="img" src="{{getMainThumb.thumbUrl}}">
                    </a>
                </div>

                <a class="product-item __name" href="{{url}}">
                    {{name}}
                </a>

                <div class="product-item __description _bold">
                    {{description}}
                </div>

                <div class="price">
                    <span>{{price}} р.</span>
                </div>

                <div class="action-control">
                    <a class="btn btn-primary">
                        <span class="add2cart">
                            <i class="glyphicon glyphicon-shopping-cart"></i> Подробнее
                        </span>
                    </a>
                </div>
            </div>
        {{/each}}
    </div>

</div>

