<div class="col-lg-6 col-md-6 col-sm-6">
    <div class="main-image sp-wrap col-lg-12 no-padding style2 style2look2">
        {{#each product.images}}
            <a href="images/zoom/zoom1hi.jpg"><img src="{{thumburl}}" class="img-responsive" alt="img"></a>
        {{/each}}
    </div>
</div>
