<div class="container">
<div class="row transitionfx">
    {{>_gallery product=product}}


    <div class="col-lg-6 col-md-6 col-sm-5">

      <h1 class="product-title">{{product.name}}</h1>

      <div class="product-price">
          <span class="price-sales">{{product.price}}</span>
      </div>

      <div class="details-description">
        <p>{{product.description}}</p>
      </div>

      <div class="cart-actions">
        <div class="addto">
          <button class="button btn-cart cart first" title="Add to Cart" type="button">Add to Cart</button>
        </div>

        <div style="clear:both"></div>
      </div>
    </div>
  </div>
</div>


